
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.alert-success{
	transition:opacity 0.5s linear;
}

h1 {
	font-size: 26px;
	font-weight: bold;
	margin-top: 15px;
	text-align:center;
}